<h1>Select Players from each Team to Trade.</h1>
<br>
<br>
<br>
<br>
<table style="width:100%">
  <tr>
    <td>
     
      <h3><%= @player_name.name %></h3>
     <%= form_tag("/trade_results") do %>
     <% @player_roster.each { |x| %>
     <%= check_box_tag "player_id[]", x.id %>
     <%= x.first_name + ' ' + x.last_name %><br>
     <% } %>
      <!-- <form action="/trade_results">
        <div class="player_form">
        <% counter = 0 %>
        <% @player_roster.each { |x| %>
          <input type="checkbox" name="player_id_<%= counter %>" value=<%= x.id%>>
          <%= x.first_name + ' ' + x.last_name %><br>
          <% counter += 1 %>
        <% } %> -->
        </div>
    </td>
    <td>  
      <h3><%= @ai_name.name %></h3>
      <% @ai_roster.each { |x| %>
      <%= check_box_tag "ai_id[]", x.id %>
      <%= x.first_name + ' ' + x.last_name %><br>
      <% } %>
      <!-- <% counter = 0  %>
      <% @ai_roster.each { |x| %>
        <input type="checkbox" name="ai_id_<%= counter %>" value=<%= x.id %>>
        <%= x.first_name + ' ' + x.last_name %><br>
        <% counter += 1 %>
        <% } %> -->
    </td>
  </tr> 
</table>
<input type="hidden" name="player_team" value="<%= @player_name.id %>">
<input type="hidden" name="ai_team" value="<%= @ai_name.id %>">
<!-- <p align=center><input type="submit"><p></form> -->
<br>
<br>
<br>
<%= submit_tag("Submit Trade") %>
<% end %>